<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2 mt-2">
            <h5>Support</h5>
            <span class="material-symbols-outlined">Email</span>ecm@esite.com
            <span class="material-symbols-outlined">call</span> +91 1245789636
            <span class="material-symbols-outlined">nest_clock_farsight_analog</span>9:30AM to 6:30PM
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 mt-2">
            <h5>Services </h5>
            <span class="material-symbols-outlined">redeem</span>E-Gift Cards
            <span class="material-symbols-outlined">local_shipping</span>Track Your Order
            <span class="material-symbols-outlined">location_on</span>Reail Stores
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 mt-2">
            <h5>Security & Payment</h5>
            <div class="row"><img src="Images/mstrcard.png"/>mastercard</div>
            <img src="Images/rupay.png"/>rupay
            <img src="Images/visa.png"/>visacard
        </div>
    </div>
</div>
