<p>RxJs Operators</p>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickOfOperator()">Of</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickfromOperator()">From</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickconcatWithOperator()">Concatwith</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickmergeOperator()">Merge</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickmapOperator()">Map</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickconcatmapOperator()">Concat Map</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickmergemapOperator()">Merge Map</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickswitchmapOperator()">Switch Map</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickTakeOperator()">Take</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickTakeUntilOperator()">Take Until</button>
</div><br>
<div class="col-sm-offset-1 col-sm-10">
    <button type="button" class="btn btn-primary" (click)="onClickForkJoinOOperator()">Fork Join</button>
</div><br>