<app-header></app-header>
<div class="container">
    <div class="row mt-4">
        <div class ="col-3"><app-sidebar></app-sidebar></div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/src/Images/smartwatch.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                    <div class="col-sm-3">
                        <img src="Images/headphones.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                    <div class="col-sm-3">
                        <img src="Images/musicalInstrument.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                </div>
                <div class="row">
                    <h3 style="color:black; margin-top:10px ;">Today's great deal</h3>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/src/Images/deal1.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                    <div class="col-sm-3">
                        <img src="Images/deal2.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                    <div class="col-sm-3">
                        <img src="Images/deal3.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                </div>  
                <div class="row">
                    <h3 style="color:black; margin-top:10px ;">Top offers for today</h3>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/src/Images/offer1.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                    <div class="col-sm-3">
                        <img src="Images/offer2.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                    <div class="col-sm-3">
                        <img src="Images/offer3.jpg" class="img-rounded">
                        <button class="btn btn-primary" type="button">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>