<!-- <app-header></app-header>
<div class="container">
    <div class="row mt-4">
        <div class="col-3"><app-sidebar></app-sidebar></div>
        <div class="col-9"><app-book-list></app-book-list></div>
    </div>
</div>
<app-footer>
</app-footer>
<div>
    <app-error-demo></app-error-demo>
</div> -->

<!-- <div>
    <app-parent></app-parent>
</div> -->
<!--<div>Custom Component Demo</div>

<h3 appDirective1>default color</h3>

<h3 appDirective1 [defaultcolor]="'orange'" [Highlightcolor]="'olive'">Pick the highlight color</h3>
<div>
    <app-observable1></app-observable1>
</div>
<div>
    <app-employeelist></app-employeelist>
</div>
 <div>
    <h2>Template Drive Form</h2>
    <app-user-form></app-user-form>
</div> -->
<!-- <div>
    <h3>Reactive Form</h3>
    <app-user></app-user>
</div> -->
<div>
    <app-test></app-test>
</div>
<div>
    <app-httpdemo></app-httpdemo>
</div>







<!-- <div>
    <app-header-menu></app-header-menu>
</div> -->

<!-- <div>
        <input type="radio" name="colors" (click)="color='lightgreen'">Green
        <input type="radio" name="colors" (click)="color='yellow'">Yellow
        <input type="radio" name="colors" (click)="color='pink'">Pink
    </div> -->