<app-header></app-header>
<div class="container">
    <div class="row mt-4">
        <div class="col-3"><app-sidebar></app-sidebar></div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <h3>On Display</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUMWfkbYdPLWiCxJ7_bcyXPgHLO4OU8K0uoblra61E4g&usqp=CAU&ec=48600112"class="img-rounded">
                        <label >leaf Bass wireless headphones </label>
                    </div>
                    <div class="col-sm-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1_VubWxMFA-3vVvUjrzaF3j5ZV9mIkxoLUJlwok7Wgw&usqp=CAU&ec=48600112"
                            class="img-rounded">
                            <label >Lenvo Digital Clock </label>
                    </div>
                    <div class="col-sm-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZwEx_bfbP9VsmB6P_zaF61Yst7St6DXF05oTHCILMEA&usqp=CAU&ec=48600112"
                            class="img-rounded">
                            <label >Boss Audio Music System</label>  
                    </div>
                </div>
                <div class="row">
                    <h3>Today's great deal</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyH7IMpRW-Qb1NT6DFYBitwbLV7V4zbFA_0mTr_aagGA&usqp=CAU&ec=48600112"
                            class="img-rounded">
                        <label>Haier 32" LCD HD Ready TV</label>
                        <label>Price :Rs.39000.00</label>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwESzJTW79IanPqG2oHqvehoWabFAtWDV_Wa60ffLXrA&usqp=CAU&ec=48600112"
                            class="addtocart">
                    </div>
                    <div class="col-sm-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjBNtivOBuG7ZoSMFm6aW2di8rRXEXEGft5c3YZOIOvQ&usqp=CAU&ec=48600112"
                            class="img-rounded">
                        <label> LG Music Soundbar</label>
                        <label>Price :Rs.15000.00</label>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwESzJTW79IanPqG2oHqvehoWabFAtWDV_Wa60ffLXrA&usqp=CAU&ec=48600112"
                            class="addtocart">
                    </div>
                    <div class="col-sm-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqBgTm4jDFzMtpi1KZjFUttifony8mT7u-iRge13RN8w&usqp=CAU&ec=48600112"
                            class="img-rounded">
                        <label>Panasonic Digital Camera</label>
                        <label>Price :Rs.30000.00</label>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwESzJTW79IanPqG2oHqvehoWabFAtWDV_Wa60ffLXrA&usqp=CAU&ec=48600112"
                            class="addtocart">
                    </div>
                </div>
                <div class="row">
                    <h3>Best seller of the month</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Electronics/Page/Big/Bets/Section/Revised/Creatives/PC/Bigbets_PC_03.jpg"
                            class="img-rounded">

                    </div>
                    <div class="col-sm-4">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Top_Offers/camera/PC.jpg"
                            class="img-rounded">

                    </div>
                    <div class="col-sm-4">
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img15/big/Bigbets_PC_09.jpg"
                            class="img-rounded">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer>

</app-footer>