<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li>New Arrivals
                <a href="">Last 30 days</a>
                <a href="">Last 90 days</a>
                <a href="">Next 90 days</a>
            </li>
            <li>English and Indian Languages
                <input type="checkbox" id="lang1" value="Engilsh"/>
                <label>English</label>
                <input type="checkbox" id="lang1" value="Gujarati"/>
                <label>Gujarati</label> 
                <input type="checkbox" id="lang1" value="Hindi"/>
                <label>Hindi</label>
                <input type="checkbox" id="lang1" value="Marathi"/>
                <label>Marathi</label>
            </li>
            <li>Category
                <a href="">Electronics</a>
                <a href="">Mobile</a>
            </li>
           
            <li><a href="">Best Seller</a></li>
            <li><a href="">Box Set</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
</body>
</html>
