*{
    font-family: sans-serif;
    font-size:12px;
}
.sidebar{
    width: 15%;
}
ul{ 
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #2f4f4f;
}
li{
    font-weight: bold;
    float: left;
    color:#ffffff;
    margin-left: 10px;
    font-size: 14px;
    /* border-right: 1px solid #bbb; */
}
li a{
    display:block; 
    color: #ffffff;
    text-align:  center;
    padding:5px ;
    text-decoration: none;
}
li input label{
    display:  block;
    padding-bottom: 15px;
}