<body>
     <div class="sidebar">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg">
                <ul class="nav flex-column">
                    <li class="nav-item">New Arrivals
                        <a class="nav-link" href="#">Last 30 days</a>
                        <a class="nav-link" href="#">Last 60 days</a>
                        <a class="nav-link" href="#">Next 90 days</a>
                    </li>
                </ul>
                <div class="hr"></div>
                <ul class="nav flex-column">
                    <li class="nav-item">Languages
                        <input type="checkbox" class="form-check-input" id="lang1" value="Engilsh" />
                        <label class="form-check-label">English</label>
                        <input type="checkbox" class="form-check-input" id="lang1" value="Gujarati" />
                        <label>Gujarati</label>
                        <input type="checkbox" class="form-check-input" id="lang1" value="Hindi" />
                        <label>Hindi</label>
                        <input type="checkbox" class="form-check-input" id="lang1" value="Marathi" />
                        <label>Marathi</label>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item">Category
                        <a class="nav-link" href="">Mobile & Accessories</a>
                        <a class="nav-link" href="">Laptop & Accessories</a>
                        <a class="nav-link" href="">TV & Accessories</a>
                        <a class="nav-link" href="">TV & Accessories</a>
                        <a class="nav-link" href="">Books</a>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item">Price
                        <a class="nav-link" href="">Rs.1000-Rs.5000</a>
                        <a class="nav-link" href="">Rs.5000-Rs.10000</a>
                        <a class="nav-link" href="">Over 20000</a>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item">Disocunt
                        <a class="nav-link" href="">10%</a>
                        <a class="nav-link" href="">20%</a>
                        <a class="nav-link" href="">30%</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     </div>
</body>

