<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sidebar">
        <ul>
            <li>New Arrivals
                <a href="#">Last 30 days</a>
                <a href="#">Last 60 days</a>
                <a href="#">Next 90 days</a>
            </li>
            <li>English and Indian Languages
                <input type="checkbox" id="lang1" value="Engilsh" />
                <label>English</label>
                <input type="checkbox" id="lang1" value="Gujarati" />
                <label>Gujarati</label>
                <input type="checkbox" id="lang1" value="Hindi" />
                <label>Hindi</label>
                <input type="checkbox" id="lang1" value="Marathi" />
                <label>Marathi</label>
            </li>
            <li>Category
                <a href="">Mobile & Accessories</a>
                <a href="">Laptop & Accessories</a>
                <a href="">TV & Accessories</a>
                <a href="">TV & Accessories</a>
                <a href="">Books</a>
            </li>
            <li>Price
                <a href="">Rs.1000-Rs.5000</a>
                <a href="">Rs.5000-Rs.10000</a>
                <a href="">Over 20000</a>
            </li>
            <li>Disocunt
                <a href="">10%</a>
                <a href="">20%</a>
                <a href="">30%</a>
            </li>
        </ul>
    </div>
</body>

</html>