<p>parent works!</p>
<!-- <app-child [messageToChild]="messageToChild" (welcomeParent1)="welcomeParent()"></app-child> -->
<h1>Angular Lifecycle Hook</h1>
<div>
    <!-- <app-child [messageToChild]="messageToChild" [Item]="ItemData">
    </app-child> -->
    <button (click)="onChangeData()">Change Data</button>
</div>
<div class="row">
    <div class="col-sm-6">
        <app-child [Products]="salesProducts">
            <h3 class="header">Up to 70% off on Electronic Items</h3>
            <a class="link" href="#">Visit Store...</a>
        </app-child>
    </div>
    <div class="col-sm-6">
        <app-child [Products]="TopProducts">
            <h3 class="header">Top Products </h3>
            <a class="link" href="#">See More...</a>
        </app-child>
    </div>
</div>